/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* HEADER
/*******************************************/

header {
  color: white;
  width: 100%;
  padding-bottom: 0;
  height: 40px;
}
header li {
  float: right;
  padding: 2% 2%;
  list-style: none;

}
header > nav > img {
  margin-left: 3%;
}

/******************************************
/* MAIN
/*******************************************/

main {
  background-image: url(css-imgs/1.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1400px;
}
h1 {
  padding-top: 20%;
  padding-left: 18%;
  font-size: 100px;
}
main > p {
  padding-left: 18%;
  padding-top: 2%;
}
main > input {
  margin-top: 3%;
  margin-left: 18%;
  background-color: black;
  color: white;
  width: 10%;
  height: 2%;
}
main > section > p {
  margin-top: 10%;
  margin-left: 18%;
  font-size: larger;
  border: white 2px solid;
  width: 12%;
  height: 250px;
  background-color: black;
  color: white;
}

/******************************************
/* TRIPLEMARK
/*******************************************/
.triplemark {
  width: 75%;
  text-align: center;
  padding-left: 25%;
  height: 300px;
}
.triplemark section {
  width: 33.3333%;
  float: left;
}

/******************************************
/* AD
/*******************************************/
.ad {
  padding-top: 10%;
  padding-left: 18%;
  height: 700px;
  background: lightgrey;
}
.ad img {
  float: right;
  margin-right: 25%;
}
.ad h3 {
  font-size: 3rem;
}
.ad p {
  font-size: 1.2rem;
}
.ad input {
  color: white;
  background-color: black;
  width: 10%;
  height: 75px;
  margin-top: 2%;
}
/******************************************
/* WORKERS
/*******************************************/
.workers {
  text-align: center;
  padding: 5%;
  width: 100%;
  height: 600px;
}
.workers img {
  padding-left: 8%;
}

/******************************************
/* OFFER
/*******************************************/
.offer {
  background-image: url(css-imgs/5.jpeg);
  background-repeat: no-repeat;
  background-size: 50%;
  height: 500px;
  background-position: center;
}
.offer p {
  padding-left: 30%;
  padding-top: 8%;
  font-size: 2rem;
}
.offer input {
  color: white;
  background-color: black;
  margin-left: 30%;
  height: 75px;
  width: 15%;
}
/******************************************
/* LOOKBOOK
/*******************************************/
.lookbook h3{
  text-align: center;
  font-size: 2rem;
}

.wrapper {
  margin-left: 30%;
  align-items: center;
  justify-items: center;
  display: grid;
  width: 40%;
  gap: 20px;

}
.oneone {
  grid-row: 1;
  grid-column: 1;
}
.onetwo {
  grid-row: 2;
  grid-column: 1;
}
.twoone {
  grid-row: 1;
  grid-column: 2;
}
.twotwo {
  grid-row: 2;
  grid-column: 2;
}
.threeone {
  grid-row: 1;
  grid-column: 3;
}
.threetwo {
  grid-row: 2;
  grid-column: 3;
}

/*
.wrapper {
  padding-top: 5%;
  height: 300px;
  text-align: center;
}
*/




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
